<section class="content-header"></section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <label for="cboBook" class="control-label">Choose Book : </label>
                <div class="input-group">
                    <select class="form-select" id="cboBook" aria-label="Example select with button addon" disabled>
                        <option selected>Choose...</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterBook">Button</button>
                </div>

            </div>
            <div class="col-md-6">
                <label for="cboMember" class="control-label">Choose Member : </label>
                <div class="input-group">
                    <select class="form-select" id="cboMember" aria-label="Example select with button addon" disabled>
                        <option selected>Choose...</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterBook">Button</button>
                </div>

            </div>
            <div class="col-md-6">
                <label for="cboMember" class="control-label">Choose Due Date : </label>
                <div class="input-group">
                    <input type="text" id="txtDueDate" class="form-control">
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <button type="button" class="btn btn-success" id="btnSave">Save</button>
            </div>
        </div>
        <!--#Region Modal-->
        <div class="modal fade w-100" id="filterBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search Book</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="searchText" placeholder="Enter Book Id or Book Name or Book ISBN " aria-describedby="searchBtn">
                            <button class="btn btn-outline-secondary" type="button" id="searchBtn">Search</button>
                        </div>
                    </div>
                    <div class="card">
                        <table class="table table-responsive w-100">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>ISBN</th>
                                </tr>
                            </thead>
                            <tbody id="tbBookSearch">
                            </tbody>
                        </table>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--#endregion-->
    </div>
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#txtDueDate').datepicker({
                autoHide: true,
                format: 'dd-mm-yyyy'
            });
        })

        $('#searchBtn').click(function (e) {

            e.preventDefault();
            let _reqModel = {
                Filter: $('#searchText').val(),
            }

            $.ajax({
                type: "POST",
                url: '@Url.ActionLink("Search","Book")',
                data: { reqModel: _reqModel },
                dataType: "Json",
                success: function (data) {
                    var trList = '';
                    $.each(data.result, function (index, item) {
                        var encodedJsonStr = encodeURIComponent(JSON.stringify(item));
                        //console.log(encodedJsonStr);
                        trList += `<tr>
                                                            <td>
                                                                        <button type="button" class="choose-book btn btn-outline-danger"
                                                                        data-id="${item.BookId}"
                                                                                data-item="${encodedJsonStr}"
                                                                        onclick="chooseBook(this)">
                                                                    <i class="fa-solid fa-paperclip"></i>
                                                                </button>
                                                            </td>
                                                            <td>${index + 1}</td>
                                                            <td>${item.BookId}</td>
                                                            <td>${item.Title}</td>
                                                            <td>${item.Author}</td>
                                                            <td>${item.Publisher}</td>
                                                                    <td>${item.ISBN}</td>
                                                        </tr> `;
                    });
                    $('#tbBookSearch').html(trList);

                    //$('.choose-book').click(funtion(){
                    //    var data = $(this).data('id');
                    //    alert(data);
                    //});
                }
            })


            //$('[data-toggle="datepicker"]').datepicker({
            //    autoHide: true,
            //    format: 'dd-mm-yyyy'
            //});
            //$('#btnClick').click(function () {
            //    var data = $('[data-toggle="datepicker"]').val();
            //    var str = data.split('-');
            //    var data1 = `${str[2]}-${str[1]}-${str[0]}`;
            //    var pData = $('#pId').html();
            //    console.log({ data, pData, data1 });
            //})
        })

        function chooseBook(e) {
            var data = $(e).data('id');
            var encodedJsonStr = $(e).data('item');
            var item = JSON.parse(decodeURIComponent(encodedJsonStr));
            //alert(data);
            var optionHtml = `<option selected value="${item.BookId}">${item.Title}</option>`;
            $('#cboBook').html(optionHtml);
            $('#filterBook').modal('hide');
        }

        $('#btnSave').click(function(e){
            e.preventDefault();

            var dueDateStr = $('#txtDueDate').val().split('-');
            var dueDate = dueDateStr[2] + '-' + dueDateStr[1] + '-' + dueDateStr[0]; // year month day
            //dueDate = `${dueDateStr[2]}-${dueDateStr[1]}-${dueDateStr[0]}`;

            let _reqModel = {
                BookId: $('#cboBook').val(),
                MemberId: $('#cboMember').val(),
                DueDate: dueDate
            };

            $.ajax({
                type: "POST",
                url: '@Url.ActionLink("Save","Loan")',
                data: { reqModel: _reqModel },
                dataType: "Json",
                success: function (data) {
                    
                }
            })
        });
    </script>
}