<section class="content-header"></section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">

                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" disabled>
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterBook">Button</button>
                </div>

            </div>
        </div>




        <!--#Region Modal-->
        <div class="modal fade w-100" id="filterBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search Book</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="searchText" placeholder="Enter Book Id or Book Name or Book ISBN " aria-describedby="searchBtn">
                            <button class="btn btn-outline-secondary" type="button" id="searchBtn">Search</button>
                        </div>
                    </div>
                    <div class="card">
                        <table class="table table-responsive w-100">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>ISBN</th>
                                </tr>
                            </thead>
                            <tbody id="tbBookSearch">
                            </tbody>
                        </table>

                    </div>
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--#endregion-->

    </div>


</section>

@section scripts {
    <script>
    $('#searchBtn').click(function (e) {
        e.preventDefault();
        let _reqModel = {
            Filter: $('#searchText').val(),
        }
        $.ajax({
            type: "POST",
            url: '@Url.ActionLink("Search","Book")',
            data: { reqModel: _reqModel },
            dataType: "Json",
            success: function (data) {
                var trList = '';
                $.each(data.result,function (index, item) {
                    trList += `<tr>
                                    <td>${index + 1}</td>
                                    <td>${item.id}</td>
                                    <td>${item.title}</td>
                                    <td>${item.author}</td>
                                    <td>${item.publisher}</td>
                                    <td>${item.isbn}</td>
                                </tr> `;
                });
                $('#tbBookSearch').html(trList);
            }

        })
    })
    </script>
}