@{
    ViewData["Title"] = "Create Member";
}
@model MemberVM
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="jaoas-label">Member</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item sub-label"><a asp-action="Index">Member</a></li>
                    <li class="breadcrumb-item sub-label">View Detail</li>
                </ol>
            </div>

        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <form method="post" asp-controller="Member" asp-action="SaveMember">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FirstName" class="control-label"></label>
                                        <input readonly  type="text" class="form-control" asp-for="FirstName" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LastName" class="control-label"></label>
                                        <input readonly type="text" class="form-control" asp-for="LastName" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input readonly type="email" class="form-control" asp-for="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input readonly type="text" class="form-control " asp-for="Phone" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label"></label>
                                        <input readonly type="text" class="form-control" asp-for="Address" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <a asp-action="Index"><< Back </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
