<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS</title>
    <partial name="./_Styles" />
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <partial name="./_Modals" />
        <partial name="./_TopNavigation" />
        <partial name="./_MainNavigation" />
        
        <div class="content-wrapper">
            @RenderBody()
        </div>
        
    </div>

    <partial name="./_Footer" />
    <partial name="./_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
